.login_bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 130vh;
    width: 100vw;
    object-fit: cover;
}

.login_form{
    background: #f7f6f6;
    margin: 15rem 10rem;
    display: flex;
    padding: 5rem;
    /* margin-bottom: 0; */
    border-radius: 15px;
}

.login_form_left img{
    height: 4rem;
    margin-bottom: 0rem;
    transform: translateX(-23rem);
}

.login_form_left{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    font-size: 1.5rem;
}

.login_form_left form{
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.login_form_left form label{
    margin: 0.5rem 0;
}
.login_form_left form input{
    margin: 0.5rem 0;
    border: none;
    border-bottom: 1px solid black;
    padding: 1rem;
}
.login_form_left form input:focus{
    outline: none;
}

.login_form_left button{
    color: white;
    background: black;
    padding: 1rem 10rem;
    transition: all 0.5s ease-in-out;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.login_form_left button:hover{
    cursor: pointer;
    background: url('https://i.pinimg.com/originals/df/a6/5b/dfa65baad7f63329064bb95881d34299.gif');
}

.login_form_left a{
    font-weight: 600;
}

.login_form_right{
    width: 50%;
    display: flex;
    align-items: center;
}

.login_form_right img{
    width: 100%;
}