.nav{
    margin: 0.5rem;
    background: #f7f6f6;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0.5rem;
    left: 0.5rem;
    border: 1px solid rgb(197, 197, 197);
}

.mainnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.left{
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
}

.left ul{
    display: flex;
    list-style: none;
}

.left ul li{
    margin: 0 2rem;
}

.left ul li a:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
}

.left img{
    width: 5rem;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.right span{
    margin: 0 2rem;
}

.right span:hover{
    cursor: pointer;
    border-bottom: 1px solid black;
}

.right .cart{
    margin-left: 2rem;
    color: white;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
}

.shop{
    display: flex;
    justify-content: space-around;
}

/* .shop .card{
    max-width: 40rem;
} */

.shop .card a img{
    height: 40rem;
    padding: 1rem;
    border: 1px solid black;
}

.shop .card a p{
    font-size: 1.5rem;
    font-weight: 600;
}

.shop .card .genre{
    font-size: 1rem;
    max-width: 20rem;
}