.container{
    color: white;
}

.bg_image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 178vh;
}

.product{
    display: flex;
    background: linear-gradient(90deg, black 50%, transparent);
    padding: 13rem 6rem;
    align-items: center;
    height: 100%;
}

.product_img{
    height: 50rem;
}

.details{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: 3rem;
    width: 33vw;
}

.details h1{
    font-size: 4rem;
}

.details p{
    width: 30vw;
    /* margin: 0; */
}

.lang_vol{
    margin-top: 2rem;
}

.lang_vol img{
    height: 2rem;
    margin: 0rem 1rem;
}

.lang_vol span{
    margin-right: 2rem;
}

.price_buy{
    font-size: 4rem;
    margin: 3rem 0;
    display: flex;
    align-items: center;
}

.price_buy button{
    font-size: 2rem;
    margin: 0 3rem;
}